{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"],
        "uglify": true
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}