{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": { 
    "semi": 0,
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0
  }
}