
$primary: #1d78c1;
$secondary: #8dd6f9;

@import "~bulma";

.z60-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.z60-main {
  flex: 1
}

.z60-times--live {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.clock-figure {
  flex: 1;
  min-width: 250px;
  background-color: $secondary;
  border: 3px solid $primary;
  padding: 15px;
  min-height: 135px;

  > figcaption {
    color: black;
  }
}

.z60-my-time {
  border: 1px solid yellow;
}
